<!DOCTYPE html>
<html lang="en">
<head>

	<title>Symetic Ing - Job Offers</title>
    <link rel="icon" href="images/logoTitle.png" type="image/icon type">
    <meta name="keywords" content="">
	<meta name="description" content="">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- stylesheet css -->
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/nivo-lightbox.css">
	<link rel="stylesheet" href="css/nivo_themes/default/default.css">
	<link rel="stylesheet" href="css/templatemo-style.css">



   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
	
	
	

	<!-- google web font css -->
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

</head>
<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" integrity="sha256-3sPp8BkKUE7QyPSl6VfBByBroQbKxKG7tsusY2mhbVY=" crossorigin="anonymous" />

   
<!-- job section -->
<div id="job-header">
	
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-3"></div>

			<video autoplay muted loop id="myVideo">
				<source src="images/video.mp4" type="video/mp4">
				Your browser does not support HTML5 video.
                
			  </video>

			  
			  
			  <script>
			  var video = document.getElementById("myVideo");
			 
			  
			  </script> 



  <div class="container">
    <div class="row">
         <div class="col-lg-10 mx-auto mb-4">
            <div class="section-title text-center ">
       
                <div class="container">	
                    <div class="button">
                        <span><a class="fa fa-reply-all" href="\"></a></span>
                        <div class="dot"></div>
                    </div>
                   
                </div>
                
                
            </div>
        </div>
    </div>

    <br>
    <br>
 
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <div class="career-search mb-60">

              <form class="search-form">
                <input type="search" value="" placeholder="Search" class="search-input">
                <button type="submit" class="search-button">
                  <svg class="submit-button">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#search"></use>
                  </svg>
                </button>
                <div class="search-option">
                  <div>
                    <input name="type" type="radio" value="type-users" id="type-users">
                    <label for="type-users">
                      <div class="edit-pen-title">
                        <i class="fa fa-flash"></i>
                        </div>
                      <span>Energy</span>
                    </label>
                  </div>
                  
                  <div>
                    <input name="type" type="radio" value="type-posts" id="type-posts">
                    <label for="type-posts">
                      <i class="fa fa-recycle"></i>
                      <span>Environment</span>
                    </label>
                  </div>
                  <div>
                    <input name="type" type="radio" value="type-images" id="type-images">
                    <label for="type-images">
                      <i class="fa fa-laptop"></i>
                      <span>IT</span>
                    </label>
                  </div>
                  <div>
                    <input name="type" type="radio" value="type-special" id="type-special" checked="">
                    <label for="type-special">
                      <i class='fa fa-solid fa-helmet-safety'></i>
                      <span>Civil Infrastructure</span>
                    </label>
                  </div>
                </div>
              </form>
              
              <svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" display="none">
                <symbol id="search" viewBox="0 0 32 32">
                  <path d="M 19.5 3 C 14.26514 3 10 7.2651394 10 12.5 C 10 14.749977 10.810825 16.807458 12.125 18.4375 L 3.28125 27.28125 L 4.71875 28.71875 L 13.5625 19.875 C 15.192542 21.189175 17.250023 22 19.5 22 C 24.73486 22 29 17.73486 29 12.5 C 29 7.2651394 24.73486 3 19.5 3 z M 19.5 5 C 23.65398 5 27 8.3460198 27 12.5 C 27 16.65398 23.65398 20 19.5 20 C 15.34602 20 12 16.65398 12 12.5 C 12 8.3460198 15.34602 5 19.5 5 z" />
                </symbol>
                <symbol id="user" viewBox="0 0 32 32">
                  <path d="M 16 4 C 12.145852 4 9 7.1458513 9 11 C 9 13.393064 10.220383 15.517805 12.0625 16.78125 C 8.485554 18.302923 6 21.859881 6 26 L 8 26 C 8 21.533333 11.533333 18 16 18 C 20.466667 18 24 21.533333 24 26 L 26 26 C 26 21.859881 23.514446 18.302923 19.9375 16.78125 C 21.779617 15.517805 23 13.393064 23 11 C 23 7.1458513 19.854148 4 16 4 z M 16 6 C 18.773268 6 21 8.2267317 21 11 C 21 13.773268 18.773268 16 16 16 C 13.226732 16 11 13.773268 11 11 C 11 8.2267317 13.226732 6 16 6 z" /></symbol>
                <symbol id="images" viewbox="0 0 32 32">
                  <path d="M 2 5 L 2 6 L 2 26 L 2 27 L 3 27 L 29 27 L 30 27 L 30 26 L 30 6 L 30 5 L 29 5 L 3 5 L 2 5 z M 4 7 L 28 7 L 28 20.90625 L 22.71875 15.59375 L 22 14.875 L 21.28125 15.59375 L 17.46875 19.40625 L 11.71875 13.59375 L 11 12.875 L 10.28125 13.59375 L 4 19.875 L 4 7 z M 24 9 C 22.895431 9 22 9.8954305 22 11 C 22 12.104569 22.895431 13 24 13 C 25.104569 13 26 12.104569 26 11 C 26 9.8954305 25.104569 9 24 9 z M 11 15.71875 L 20.1875 25 L 4 25 L 4 22.71875 L 11 15.71875 z M 22 17.71875 L 28 23.71875 L 28 25 L 23.03125 25 L 18.875 20.8125 L 22 17.71875 z" />
                </symbol>
                <symbol id="post" viewbox="0 0 32 32">
                  <path d="M 3 5 L 3 6 L 3 23 C 3 25.209804 4.7901961 27 7 27 L 25 27 C 27.209804 27 29 25.209804 29 23 L 29 13 L 29 12 L 28 12 L 23 12 L 23 6 L 23 5 L 22 5 L 4 5 L 3 5 z M 5 7 L 21 7 L 21 12 L 21 13 L 21 23 C 21 23.73015 21.221057 24.41091 21.5625 25 L 7 25 C 5.8098039 25 5 24.190196 5 23 L 5 7 z M 7 9 L 7 10 L 7 13 L 7 14 L 8 14 L 18 14 L 19 14 L 19 13 L 19 10 L 19 9 L 18 9 L 8 9 L 7 9 z M 9 11 L 17 11 L 17 12 L 9 12 L 9 11 z M 23 14 L 27 14 L 27 23 C 27 24.190196 26.190196 25 25 25 C 23.809804 25 23 24.190196 23 23 L 23 14 z M 7 15 L 7 17 L 12 17 L 12 15 L 7 15 z M 14 15 L 14 17 L 19 17 L 19 15 L 14 15 z M 7 18 L 7 20 L 12 20 L 12 18 L 7 18 z M 14 18 L 14 20 L 19 20 L 19 18 L 14 18 z M 7 21 L 7 23 L 12 23 L 12 21 L 7 21 z M 14 21 L 14 23 L 19 23 L 19 21 L 14 21 z" />
                </symbol>
                <symbol id="special" viewbox="0 0 32 32">
                  <path d="M 4 4 L 4 5 L 4 27 L 4 28 L 5 28 L 27 28 L 28 28 L 28 27 L 28 5 L 28 4 L 27 4 L 5 4 L 4 4 z M 6 6 L 26 6 L 26 26 L 6 26 L 6 6 z M 16 8.40625 L 13.6875 13.59375 L 8 14.1875 L 12.3125 18 L 11.09375 23.59375 L 16 20.6875 L 20.90625 23.59375 L 19.6875 18 L 24 14.1875 L 18.3125 13.59375 L 16 8.40625 z M 16 13.3125 L 16.5 14.40625 L 17 15.5 L 18.1875 15.59375 L 19.40625 15.6875 L 18.5 16.5 L 17.59375 17.3125 L 17.8125 18.40625 L 18.09375 19.59375 L 17 19 L 16 18.40625 L 15 19 L 14 19.59375 L 14.3125 18.40625 L 14.5 17.3125 L 13.59375 16.5 L 12.6875 15.6875 L 13.90625 15.59375 L 15.09375 15.5 L 15.59375 14.40625 L 16 13.3125 z" />
                </symbol>
              </svg>
              
                <div class="filter-result">
                    <% jobs.forEach(function(job, index) { %>
                        <div class="job-box d-md-flex align-items-center justify-content-between mb-30">
                            <div class="job-left my-4 d-md-flex align-items-center flex-wrap">
                                <div class="<%= job.color %> mr-md-4 mb-md-0 mb-4 mx-auto mx-md-0 d-md-none d-lg-flex">
                                    <%= job.sort_name %>
                                </div>
                                <div class="job-content">
                                    <h5 class="text-center text-md-left"><%= job.title %></h5>
                                    <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans">
                                        <li class="mr-md-4">
                                            <i class="zmdi zmdi-pin mr-2"></i> <%= job.location%>
                                        </li>
                                        <li class="mr-md-4">
                                            <i class="zmdi zmdi-calendar mr-2"></i>  <%= moment(job.date).format("DD-MM-YYYY") %>
                                        </li>
                                     
                                    </ul>
                                </div>
                            </div>
                            <div class="job-right my-4 flex-shrink-0">
                                <a href="/job-offers?job=<%= job._id %>" class="btn d-block w-100 d-sm-inline-block btn-light">Open</a>
                            </div>
                        </div>
                    <% }) %>
                
                </div>
            </div>

            <!-- START Pagination -->
            <nav aria-label="Page navigation">
                <ul class="pagination pagination-reset justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                            <i class="zmdi zmdi-long-arrow-left"></i>
                        </a>
                    </li>
                    <% for(let i=0;i<totalPages;i++) { %>
                        <li class="page-item"><a class="page-link" href="/job-offers?page=<%= i+1 %>"><%= i+1 %></a></li>
                    <% } %>
                    <li class="page-item">
                        <a class="page-link" href="#">
                            <i class="zmdi zmdi-long-arrow-right"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- END Pagination -->
        </div>
    </div>

</div>

<style type="text/css">
.search-form {
  position: relative;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 40px;
  border-radius: 40px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translate(-50%, -50%);
  background: #fff;
  transition: all 0.3s ease;
}
.search-form.focus {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}
.search-input {
  position: absolute;
  top: 10px;
  left: 38px;
  font-size: 14px;
  background: none;
  color: #5a6674;
  width: 195px;
  height: 20px;
  border: none;
  appearance: none;
  outline: none;
}
.search-input::-webkit-search-cancel-button {
  appearance: none;
}
.search-button {
  position: absolute;
  top: 10px;
  left: 15px;
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none !important;
  cursor: pointer;
}
.search-button svg {
  width: 20px;
  height: 20px;
  fill: #5a6674;
}
.search-option {
  position: absolute;
  text-align: right;
  top: 10px;
  right: 15px;
}
.search-option div {
  position: relative;
  display: inline-block;
  margin: 0 1px;
  cursor: pointer;
}
.search-option div input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.01;
  cursor: pointer;
}
.search-option div span {
  position: absolute;
  display: block;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  background: #929AA3;
  color: #fff;
  font-size: 9px;
  letter-spacing: 1px;
  line-height: 1;
  text-transform: uppercase;
  padding: 4px 7px;
  border-radius: 12px;
  top: -18px;
  transition: all 0.2s ease-in-out;
}
.search-option div span::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  border-top: 4px solid #929AA3;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  transition: all 0.2s ease-in-out;
}
.search-option div:hover span {
  opacity: 1;
  top: -21px;
}
.search-option div label {
  display: block;
  cursor: pointer;
}
.search-option div svg {
  height: 20px;
  width: 20px;
  fill: #5a6674;
  opacity: 0.6;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
}
.search-option div:hover svg {
  opacity: 1;
}
.search-option div input:checked + label svg {
  fill: #1d67a6;
  opacity: 0.9;
}
.search-option div input:checked + label span {
  background: #1d67a6;
}
.search-option div input:checked + label span::after {
  border-top-color: #1d67a6;
}

  :root {
    --bg: #3C465C;
    --primary: #1d67a6;
    --solid: #fff;
    --btn-w: 7em;
    --dot-w: calc(var(--btn-w)*.2);
    --tr-X: calc(var(--btn-w) - var(--dot-w));
  }
  
  a {
      color: #ffffff;
      text-decoration: none;
      background-color: transparent;
  }
  
  * {box-sizing: border-box;}
  *:before, *:after {box-sizing: border-box;}
  
  
  h1 {
    color: var(--solid);
    font-size: 2.5rem;
    margin-top: 6rem;	
  }
  .button {
  
    position: relative;
    margin: 0 auto;
    width: var(--btn-w);
    color: var(--primary);
    border: .15em solid var(--primary);
    border-radius: 5em;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.3em;
    line-height: 1.4em;
    cursor: pointer;
      transform: translate(0%, 20%);	
  }
  .dot {
    content: '';
    position: absolute;
    top: 0;
    width: var(--dot-w);
    height: 100%;
    border-radius: 100%;
    transition: all 300ms ease;
    display: none;
  }
  .dot:after {
    content: '';
    position: absolute;
    left: calc(50% - .4em);
    top: -.4em;
    height: .8em;
    width: .8em;
    background: var(--primary);
    border-radius: 1em;
    border: .25em solid var(--solid);
    box-shadow: 0 0 .7em var(--solid),
          0 0 2em var(--primary);
  }
  .button:hover .dot,
  .button:focus .dot {
    animation: atom 2s infinite linear;
    display: block;
  }
  @keyframes atom {
    0% {transform: translateX(0) rotate(0);}
    30%{transform: translateX(var(--tr-X)) rotate(0);}
    50% {transform: translateX(var(--tr-X)) rotate(180deg);}
    80% {transform: translateX(0) rotate(180deg);}
    100% {transform: translateX(0) rotate(360deg);}
  }
  
     body {
      margin: 0;
      font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #000000;
      text-align: left;
      background-color: rgb(0, 0, 0);
      
  
  }
  /* ===== Career ===== */
  .career-form {
  background-color: #4e63d7;
  border-radius: 5px;
  padding: 0 16px;
  }
  
  .career-form .form-control {
  background-color: rgba(255, 255, 255, 0.2);
  border: 0;
  padding: 12px 15px;
  color: #fff;
  }
  
  .career-form .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
  }
  
  .career-form .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
  }
  
  .career-form .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
  }
  
  .career-form .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
  }
  
  .career-form .custom-select {
  background-color: rgba(255, 255, 255, 0.2);
  border: 0;
  padding: 12px 15px;
  color: #fff;
  width: 100%;
  border-radius: 5px;
  text-align: left;
  height: auto;
  background-image: none;
  }
  
  .career-form .custom-select:focus {
  -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  .career-form .select-container {
  position: relative;
  }
  
  .career-form .select-container:before {
  position: absolute;
  right: 15px;
  top: calc(50% - 14px);
  font-size: 18px;
  color: #ffffff;
  content: '\F2F9';
  font-family: "Material-Design-Iconic-Font";
  }
  
  .filter-result .job-box {
  -webkit-box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
    box-shadow: 0 0 35px 0 rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 10px 35px;
  backdrop-filter: blur(10px);
  background: #ccc;
  
  }
  
  ul {
  list-style: none; 
  }
  
  .list-disk li {
  list-style: none;
  margin-bottom: 12px;
  }
  
  .list-disk li:last-child {
  margin-bottom: 0;
  }
  
  .job-box .img-holder {
  height: 65px;
  width: 65px;
  background-color: #4e63d7;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(78, 99, 215, 0.9)), to(#5a85dd));
  background-image: linear-gradient(to right, rgba(78, 99, 215, 0.9) 0%, #0760d3 100%);
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
    justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
    align-items: center;
  border-radius: 65px;
  }
  
  .job-box .img-holder1 {
  height: 65px;
  width: 65px;
  background-color: #4e63d7;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(78, 99, 215, 0.9)), to(#5a85dd));
  background-image: linear-gradient(to right, rgba(79, 184, 53, 0.9) 0%, #4bec00 100%);
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
    justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
    align-items: center;
  border-radius: 65px;
  }
  
  .job-box .img-holder2 {
  height: 65px;
  width: 65px;
  background-color: #4e63d7;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(78, 99, 215, 0.9)), to(#5a85dd));
  background-image: linear-gradient(to right, rgba(207, 131, 43, 0.9) 0%, #ff8800 100%);
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
    justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
    align-items: center;
  border-radius: 65px;
  }
  
  
  .job-box .img-holder3 {
  height: 65px;
  width: 65px;
  background-color: #4e63d7;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(78, 99, 215, 0.9)), to(#5a85dd));
  background-image: linear-gradient(to right, rgba(83, 94, 81, 0.9) 0%, #798d77 100%);
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
    justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
    align-items: center;
  border-radius: 65px;
  }
  
  
  .career-title {
  background-color: #4e63d7;
  color: #fff;
  padding: 15px;
  text-align: center;
  border-radius: 10px 10px 0 0;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(78, 99, 215, 0.9)), to(#5a85dd));
  background-image: linear-gradient(to right, rgba(78, 99, 215, 0.9) 0%, #5a85dd 100%);
  }
  
  .job-overview {
  -webkit-box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
    box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
  border-radius: 10px;
  }
  
  @media (min-width: 992px) {
  .job-overview {
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
  }
  }
  
  .job-overview .job-detail ul {
  margin-bottom: 28px;
  }
  
  .job-overview .job-detail ul li {
  opacity: 0.9;
  font-weight: 600;
  margin-bottom: 15px;
  }
  
  .job-overview .job-detail ul li i {
  font-size: 20px;
  position: relative;
  top: 1px;
  }
  
  .job-overview .overview-bottom,
  .job-overview .overview-top {
  padding: 35px;
  }
  
  .job-content ul li {
  font-weight: 600;
  opacity: 0.9;
  border-bottom: 1px solid #ccc;
  padding: 10px 5px;
  }
  
  @media (min-width: 768px) {
  .job-content ul li {
  border-bottom: 0;
  padding: 0;
  }
  }
  
  .job-content ul li i {
  font-size: 20px;
  position: relative;
  top: 1px;
  }
  .mb-30 {
  margin-bottom: 20px;
  }
  
  
  * {
      box-sizing: border-box;
         
      }
      
      body {
      margin: 0;
      font-family: Arial;
      font-size: 17px;
      }
      
      #myVideo {
      position: fixed;
      right: 0;
      bottom: -100px;
      width: 1200px;
      min-width: 100%; 
      min-height: 100%;
      }
      
      .content {
      position: fixed;
      bottom: 0;
      background: rgba(153, 110, 110, 0.5);
      color: #f1f1f1;
      width: 100%;
      padding: 20px;
      }
  
  </style>
  
  <script type="text/javascript">
  
  </script>
  
      </div>
    </div>
  </div> 
  
  </body>

<!-- footer section -->

<%- include('partials/footer'); %> 




<!-- javascript js -->	
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>	
<script src="js/nivo-lightbox.min.js"></script>
<script src="js/custom.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>