<!DOCTYPE html>
<html lang="en">
<head>
	<title>Symetic Ing - Job Offer</title>
	<link rel="icon" href="images/logoTitle.png" type="image/icon type">
    <meta name="keywords" content="">
	<meta name="description" content="">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- stylesheet css -->

	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/nivo-lightbox.css">
	<link rel="stylesheet" href="css/nivo_themes/default/default.css">
	<link rel="stylesheet" href="css/templatemo-style.css">
	<link rel="stylesheet" href="css/menu.css">

	<!-- google web font css -->
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>


</head>
<body>
	

	
<!-- about section -->

<div id="about-header">
	<div class="w3-container">
		<div class="row">
			<div class="col-md-5 col-sm-3"></div>
			   
			</div>
			<video autoplay muted loop id="myVideo">
				<source src="images/video.mp4" type="video/mp4">
				Your browser does not support HTML5 video.
			  </video>

			  
			  
			  <script>
			  var video = document.getElementById("myVideo");
			 
			  
			  </script> 

<div class="w3-container">
    <div class="row">
         <div class="col-lg-10 mx-auto mb-4">
            <div class="section-title text-center ">
       
                <div class="container">	
                    <div class="button" style="max-width:100%;height:auto;">
                        <span><a class="fa fa-reply-all" href="<%= url %>"></a></span>
                        <div class="dot"></div>
                    </div>
                   
                </div>
                
                
            </div>
        </div>
    </div>

					<div class="blog_post" style="max-width:100%;height:auto;">
						<div class="img_pod<%= no %>">
							<img src="images/<%= no %>.png" alt="random image">
						</div>
						<div class="container_copy">

							<h3><i class="fa fa-map-marker"></i> <%= data.location %></h3>
							<p></p>
							<h3><i class="fa fa-calendar-o"></i> <%= moment(data.date).format("DD-MM-YYYY") %></h3>

							<p></p>
							

							<br>

							<h1><%= data.title %></h1>
							<h3>Description</h3>
							<br>
							<p><%- data.description %></p>


							<br>

							<a class="btn_primary<%= no %>" href="mailto:recrutement@symetic-ing.com?subject=<%= data.title %>" target="_blank">APPLY</a>
							
						</div>

					</div>



				</div>
			</div>
		</div>



		<br>
		<br>
		<br>
		<br>

		<!-- footer section -->
<%- include('partials/footer'); %>


<style>
	:root {
	--bg: #3C465C;
	--primary: #1d67a6;
	--solid: #fff;
	--btn-w: 7em;
	--dot-w: calc(var(--btn-w)*.3);
	--tr-X: calc(var(--btn-w) - var(--dot-w));
}

a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}

p{
	color: #000000;
}

* {box-sizing: border-box;}
*:before, *:after {box-sizing: border-box;}


h1 {
	color: var(--solid);
	font-size: 2.5rem;
	margin-top: 6rem;	
}
.button {
	position: relative;
	margin: 0 auto;
	width: var(--btn-w);
	color: var(--primary);
	border: .15em solid var(--primary);
	border-radius: 5em;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.3em;
	line-height: 2em;
	cursor: pointer;
    transform: translate(85%, -100%);
}

.button a:hover{
	color: #1d67a6;
	text-decoration: underline #1d67a6;
}
.dot {
	content: '';
	position: absolute;
	top: 0;
	width: var(--dot-w);
	height: 100%;
	border-radius: 100%;
	transition: all 300ms ease;
	display: none;
}
.dot:after {
	content: '';
	position: absolute;
	left: calc(50% - .4em);
	top: -.4em;
	height: .8em;
	width: .8em;
	background: var(--primary);
	border-radius: 1em;
	border: .25em solid var(--solid);
	box-shadow: 0 0 .7em var(--solid),
				0 0 2em var(--primary);
}
.button:hover .dot,
.button:focus .dot {
	animation: atom 2s infinite linear;
	display: block;
}
@keyframes atom {
	0% {transform: translateX(0) rotate(0);}
	30%{transform: translateX(var(--tr-X)) rotate(0);}
	50% {transform: translateX(var(--tr-X)) rotate(180deg);}
	80% {transform: translateX(0) rotate(180deg);}
	100% {transform: translateX(0) rotate(360deg);}
}



.blog_post {
  background: #fff;
  max-width: 5000px;
  border-radius: 60px;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
  position: relative;
  transform: translate(12%, 0%);
  width: 80%;
  opacity: 0.9;
  
}


.container_copy {
  padding: 6rem 4rem 5rem 4rem;

}

.img_pod {
  height: 110px;
  width: 110px;
  background: linear-gradient(90deg, #3ba544, #4bec00);
  z-index: 10;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  position: absolute;
  left: 0%;
  top: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-20%, -50%);
}


img {
  height: 8.3rem;
  width: 8.3rem;
  position: relative;
  border-radius: 100%;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
  z-index: 1;
 
}

h3 {
  margin: 0 0 0.5rem 0;
  color: #999;
  font-size: 1.25rem;
}

h1 {
  margin: 0 0 1rem 0;
  font-size: 2.5rem;
  letter-spacing: 0.5px;
  color: #333;
}



.btn_primary {
  border: none;
  outline: none;
  background: linear-gradient(90deg, #3ba544, #4bec00);
  padding: 1.5rem 2rem;
  border-radius: 50px;
  color: white;
  font-size: 1.2rem;
  box-shadow: 1px 10px 2rem #79a1d6;
  transition: all 0.2s ease-in;
  text-decoration: none;
}

.btn_primary:hover {
  box-shadow: 0px 5px 1rem #4889dd(255, 94, 98, 0.5);
}

@media only screen and (max-width: 650px) {
  body {
    background-color: black;
  }


}

#myVideo {
		position: fixed;
		right: 0;
		bottom: -100px;
		width: 1200px;
		min-width: 100%; 
		min-height: 100%;
	  }
	  
	  .content {
		position: fixed;
		bottom: 0;
		background: rgba(153, 110, 110, 0.5);
		color: #f1f1f1;
		width: 100%;
		padding: 20px;
	  }




	  .card .card-reveal
{
  top: 99% !important;  
}

.card
{
  max-height: 500px !important;
}

.cardHeaderBackground
{
    background-size: cover;
    /* Fallback color if image not available  */
    background-color: #ccc;
}

.inputIcon
{
  margin-top: 8px;
}

/* label color */
.input-field label 
{
  color: #000 !important;
}

/* label focus color */
.input-field input[type=text]:focus + label 
{
  color: #2c79f4 !important;
}
/* label underline focus color */
.input-field input[type=text]:focus 
{
  border-bottom: 1px solid #2c79f4 !important;
  box-shadow: 0 1px 0 0 #2c79f4 !important;
}

.input-field input[type=text]
{
  border-bottom: 1px solid #2c79f4 !important;
}

.input-field input[type=text]:active
{
  border-bottom: 1px solid #2c79f4 !important;
}

/* icon prefix focus color */
.input-field .prefix.active 
{
  color: #2c79f4;
}

.lever
{
  background-color: #ccc !important;
}

.lever::after
{
  background-color: #287bff !important;
}

.switch label input[type=checkbox]:checked + .lever
{
  background-color: #66a0ff !important;
}

.rememberMeInput
{
  float: right;
  margin-top: -20px !important;
  margin-right: -235px;
}

.rememberMeContainer
{
  margin-top: -30px !important;
}

.loginButtonOpenCard
{
  position: absolute;
  width: 100% !important;
  width: 90% !important;
  bottom: 0;
  left: 0;
  margin-left: 5% !important;
  margin-bottom: 15px;
  background-color: #2c79f4;
}

.loginButtonOpenCard:hover
{
  opacity: 0.8;
  background-color: #2c79f4;
}
</style>

<!-- javascript js -->	
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>	
<script src="js/nivo-lightbox.min.js"></script>
<script src="js/custom.js"></script>

</body>
</html>